@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #000000;
    width: 100vw;
    height: 100vh;
}

.conteiner-buttons {

    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

button {
    background: #e40505;
    border: none;
    border-radius: 20px;
    color: aliceblue;
    padding: 10px;
    font-weight: 300;
    font-size: 30px;
}

button:hover {
    opacity: .7;
}

button:active {
    opacity: .4;
    color: blue;
}

img {
    width: 100%;
    border-radius: 12px;
}


ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 30px;
    justify-content: center;
}

li{
    border: 1px solid rgb(21, 92, 5);
    border-radius: 13px;
    padding: 10px;
    font-size: 15px;
    color: aliceblue;
}



.name-product {
    color: aliceblue;
    font-size: 17px;
    font-weight: 600;
    margin: 5px 0;
}

.preco-product {
    font-size: 15px;
}

span{

    color: aliceblue;
}

@media screen and (max-width:639px){

    ul{
    grid-template-columns: 250px 250px;
    gap: 5px;
    justify-content: space-evenly;
    }

    .conteiner-buttons{
        justify-content: space-evenly;
        align-items: normal;
    }

    span{
        display: none;
    }





}